@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&family=Cormorant+Upright&family=Manrope&family=Montserrat+Alternates&display=swap');

/* font-family: 'Arima', cursive;
font-family: 'Cormorant Upright', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat Alternates', sans-serif; */

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: #313a48;
  --dark-grayish-blue: #202733;
  --white: white;
  --body-font: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  main {
    background-image: url("../../assets/bg-img.jpg");
    height: 100%;
    margin: 0;
    padding: 20px;
  }
  
  .form-container {    
    max-width: 800px;
    padding: 20px;
    margin: auto;
    background-color: #202733;
    opacity: 0.9;
    align-self: center;
    border:#3ec284 3px dotted;
    border-radius: 20px;
    color:aqua;
  }

  .form-container h1 {
    text-align: left;
    color: aqua;
    margin-bottom: 25px;
  }

  .form-container input[type=text],
  .form-container input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ced4da;
    background: rgb(249, 250, 246);
  }
  .form-container input[type=text]:focus,
  .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container .btn {
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;  
    border: 3px solid rgb(64, 141, 45);
    color:rgb(38, 112, 19);
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    background-color: #f9ffa1;
  }
  .form-container .cancel {
    background-color: #cc0000;
  }
  .form-container .btn:hover {
    background-color: var(--neon-green);
    box-shadow: -1px 1px 84px 12px #f9ffa1;
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
    color: rgb(42, 119, 119);
  }

  #loginModal > div {
    border:#3ec284 3px dotted;
    border-radius: 10px;
    color: rgb(42, 119, 119);
    font-weight: bold;
    letter-spacing: 1.5px;
   }
   #login-form > #login {
      background-color: #f9ffa1;
    }
  
  