@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&family=Cormorant+Upright&family=Manrope&family=Montserrat+Alternates&display=swap');

 /* font-family: 'Arima', cursive;
font-family: 'Cormorant Upright', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat Alternates', sans-serif; */

/*
 * ─── GLOBALS ────────────────────────────────────────────────────────────────────
 */
 :root {
  --bright-green: rgb(79, 231, 41); 
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: #313a48;
  --dark-grayish-blue: #202733;
  --white: white;
 }

* {
  margin: 0;
  padding: 0;
}

body, html {
    background-color: #202733;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

.parallax {
    /* The image used */
    background-image: url("../assets/bg-img.jpg");
     /* Full height */
    height: 100%;
     /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
main {
    display: flexbox;
    background-color: #fff;
    transition: 1s ease-in-out;
    padding-top: 20px;
}

.flex-container {
    background-color: #fff;
    color:#202733;
    text-align: center;
    padding: 20px;
}

/* printer friendly */

.table {
    background-color:#fff;
    border: 1px black solid;
    text-align: center;
    margin-top: 20px;
    color: #202733;
}

thead {
    color: #202733;
}

th {
    font-family: 'Montserrat Alternates', sans-serif;
}

.habit-cell {
    width: 80px;
    height: 25px;
}
.day-cell {
    width: 25px;
    height: 25px;
}

.example-row {
    font-family: 'Arima', cursive;
    font-style: italic;
    height: 25px;
}

#main-col {
    width: 80px;
}

td {
    height: 25px;
    width: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .parallax {
        background-image: none;
    }
    .flex-container {
        background-color: #fff;
        padding: none;
        margin: none;
    }
   
    .table {
        max-width: 500px;
        /* transform: scaleX(0.7); */
        margin: none;
    }
    
    #main-col, .example-row, th {
        font-size: 12px;
    }

    h1, p {
        color: #202733;
    }
    
}