@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&family=Cormorant+Upright&family=Manrope&family=Montserrat+Alternates&display=swap');

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: radial-gradient(circle, #52ffaf, #62feb5, #70fdbb, #7dfbc1, #89fac6, #88f7c4, #86f5c1, #85f2bf, #76eeb5, #66eaab, #55e5a1, #41e197);
  }
  
  .footer-p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:rgba(10, 22, 7, 0.5);
    padding-top: 10px;
    font-size: 0.8rem;
    font-weight: bold;
  }