@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&family=Cormorant+Upright&family=Manrope&family=Montserrat+Alternates&display=swap');

/* font-family: 'Arima', cursive;
font-family: 'Cormorant Upright', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat Alternates', sans-serif; */

  header {
    background-color: #313a48;
    color: rgb(79, 231, 41);
    font-family: "Manrope", monospace;
  }

  .habit-logo {
    margin: 20px auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    animation-name: heartbeat;
    animation-timing-function: linear;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
  }

  @keyframes heartbeat {
    to { transform: scale(1.05); }
    
  }