@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&family=Cormorant+Upright&family=Manrope&family=Montserrat+Alternates&display=swap');

/* font-family: 'Arima', cursive;
font-family: 'Cormorant Upright', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat Alternates', sans-serif; */

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: #313a48;
    --dark-grayish-blue: #202733;
    --white: white;
  }

* {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-image: radial-gradient(circle, #52ffaf, #62feb5, #70fdbb, #7dfbc1, #89fac6, #88f7c4, #86f5c1, #85f2bf, #76eeb5, #66eaab, #55e5a1, #41e197);
    width: 100%;
    /* margin-top: 20px; */
    font-family: 'Manrope', sans-serif;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    margin: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;    
    color: #000;    
    padding-left: 30px;
    transform: scale(1.3);
    transition: 1s ease;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.nav-link {
    color: rgb(39, 94, 26);
    padding: 10px;
    letter-spacing: 2px;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-link:hover {
    font-weight: bolder;
    color: #000;
}

@media only screen and (max-width: 991px) {
    .navbar-brand {
        flex-direction: column;
        transform: scale(1);
        transition: 1s ease;
    }
}